/**
 * 全局样式和复用样式
 */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.content-wrapper {
  margin: 0 16px;

  .breadcrumb-wrapper {
    margin: 16px 0;
  }

  .container-layout {
    padding: 24px;
    background: #fff;
    min-height: 800px;
  }
}
